<div id="{ID_TAX}_cont" taxonomy="{ID_TAX}">
    <div id="{ID_TAX}_cont_txt" style="white-space: normal; max-width: 150px; max-height: 75px; overflow: auto;">{VAL_TXT}</div>
    <a href="#" id="{ID_TAX}_select" modal-signal="{MODAL_SIGNAL}" class="taxonomySelect">{TXT_SELECT}</a><br/>
    <a href="#" id="{ID_TAX}_reset" class="taxonomyReset">{TXT_RESET}</a>
    <!-- TODO: Hide this input field -->
    <input id="{ID}" class="form-control form-control-sm taxonomyResult" name="{NAME}" value="{VALUE}" />
    {MODAL}
</div>