.asciimath {
    --stack-ascii-horizontal-offset: 13px;
    --stack-ascii-vertical-offset: 14px;
    background-color: ivory;
    border-radius: 5px;
    border: solid 1px;
    padding: 5px;
    margin-top: 10px;
    overflow: auto;
}
.plaintext {
    white-space: pre-line;
}
